<div class="sidebar-container">

  <div class="logo-section">
    <span class="logo">TeachHub</span>
  </div>


  <mat-divider></mat-divider>

  <mat-nav-list>
    <a mat-list-item
    *ngFor="let item of navItens"
    [routerLink]="item.route"
    routerLinkActive="active-link">

    <mat-icon matListIcon class="material-symbols-outlined">
      {{ item.icon }}
    </mat-icon>
    <span matLine>{{ item.label }}</span>
    </a>
  </mat-nav-list>

  
  <div class="sidebar-footer">
    <button mat-button (click)="logout()" class="btn-logout">
      <mat-icon class="material-symbols-outlined">logout</mat-icon>
      <span>Sair</span>
    </button>
  </div>

</div>