<nav class="sidebar">
  <div class="logo">
    <h2>TeachHub</h2>
  </div>

  <ul class="nav-links">
    <li>
      <a routerLink="/home" routerLinkActive="active">
        <span class="icon">🏠</span> Home
      </a>
    </li>
    <li>
      <a routerLink="/cursos" routerLinkActive="active">
        <span class="icon">📚</span> Cursos
      </a>
    </li>
    <li>
      <a routerLink="/ia" routerLinkActive="active">
        <span class="icon">🤖</span> Tutor IA
      </a>
    </li>
    <li>
      <a routerLink="/postagens" routerLinkActive="active">
        <span class="icon">✍️</span> Postagens
      </a>
    </li>
    <hr>
    <li>
      <a routerLink="/perfil" routerLinkActive="active">
        <span class="icon">👤</span> Perfil
      </a>
    </li>
  </ul>
</nav>