<div class="dashboard-container">
  <header class="welcome-section">
    <h1>Bem-vindo ao TeachHub</h1>
    <p>O que você deseja fazer hoje?</p>
  </header>

  <div class="card-grid">


    <mat-card class="menu-card" (click)="navigateTo('postagens')">
      <mat-card-header>
          <div class="card-icon">📚</div>
          <mat-card-title>Explorar Conteúdo</mat-card-title>
          <mat-card-subtitle>Veja os materiais disponíveis</mat-card-subtitle>
      </mat-card-header>
    </mat-card>

    <mat-card class="menu-card" (click)="navigateTo('criar-postagem')">
      <mat-card-header>
          <div class="card-icon">✍️</div>
          <mat-card-title>Criar Postagem</mat-card-title>
          <mat-card-subtitle>Influencie outros professores</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
 

    <mat-card class="menu-card" (click)="navigateTo('cursos')">
      <mat-card-header>
          <div class="card-icon">📚</div>
          <mat-card-title>Cursos</mat-card-title>
          <mat-card-subtitle>Aprenda algo novo!</mat-card-subtitle>
      </mat-card-header>
    </mat-card>

    <mat-card class="menu-card ia-card" (click)="navigateTo('ia')">
      <mat-card-header>
          <div class="card-icon">🤖</div>
          <mat-card-title>Falar com IA</mat-card-title>
          <mat-card-subtitle>Tire dúvidas em tempo real</mat-card-subtitle>
      </mat-card-header>
    </mat-card>

    <mat-card class="menu-card" (click)="navigateTo('perfil')">
      <mat-card-header>
          <div class="card-icon">👤</div>
          <mat-card-title>Meu Perfil</mat-card-title>
          <mat-card-subtitle>Gerencie seus dados</mat-card-subtitle>
      </mat-card-header>
    </mat-card>

</div>