@use "variables" as *;

.sidebar-container {
  height: 100vh;
  width: 260px;
  background-color: var(--bg-card);
  border-right: 1px solid var(--card-border);
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;

  .logo-section {
    padding: 30px 20px;
    text-align: center;
    .logo {
      font-weight: 800;
      font-size: 1.5rem;
      color: $primary; // Seu roxo #673ab7
      letter-spacing: -1px;
      text-transform: uppercase;
    }
  }

  mat-divider {
    opacity: 0.5;
    margin: 0 20px;
  }

  ::ng-deep .mat-mdc-nav-list {
    padding: 15px !important;

    .mat-mdc-list-item {
      margin-bottom: 6px !important;
      border-radius: 12px !important;
      height: 48px !important;
      color: var(--text-main) !important;
      transition: all 0.2s ease !important;

      // Alinhamento e espaçamento entre ícone e texto
      .mdc-list-item__content {
        display: flex !important;
        align-items: center !important;
        gap: 12px !important;
      }

      // ÍCONES SUPER LEVES (Padronizado com a Home)
      .material-symbols-outlined {
        font-variation-settings: 'wght' 200, 'opsz' 24 !important; 
        font-size: 22px !important;
        color: var(--text-main);
        opacity: 0.8;
      }

      .mat-mdc-list-item-title {
        font-size: 0.95rem !important;
        font-weight: 500 !important;
      }

      // ESTADO ATIVO
      &.active-link {
        background-color: rgba($primary, 0.12) !important; // Fundo 
        
        .mat-mdc-list-item-title {
          color: $primary !important;
          font-weight: 700 !important;
        }
        
        .material-symbols-outlined {
          color: $primary !important;
          opacity: 1;
          font-variation-settings: 'wght' 400, 'FILL' 1 !important; // Ícone ganha corpo e preenchimento
        }
      }

      &:hover:not(.active-link) {
        background-color: rgba(0, 0, 0, 0.04) !important;
      }
    }
  }

  .sidebar-footer {
    margin-top: auto;
    padding: 20px;
    
    .btn-logout {
      width: 100%;
      justify-content: flex-start !important;
      gap: 12px;
      color: var(--text-main);
      opacity: 0.7;
      border-radius: 10px;
      
      mat-icon { font-variation-settings: 'wght' 200; }

      &:hover { 
        opacity: 1;
        color: #d32f2f; // Vermelho suave para o logout
        background-color: rgba(211, 47, 47, 0.05);
      }
    }
  }
}