
/* variables as has a component to use on most of layouts */
@use "variables" as *; 


/* layouts */
@use "home";
@use "sidebar";
@use "header";
@use "footer";
html, body {
  margin: 0 !important;
  padding: 0 !important;
}

app-root {
  display: block;
  margin: 0 !important;
  padding: 0 !important;
}

* {
  margin: 0;
}